* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  color: black;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}
header li {
  margin-left: 30px;
  margin-top: 4px;
  font-weight: 500;
}
header {
  background-image: url("img1.avif");

  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header h2 {
  margin-top: 15px;
}

ul {
  display: flex;
  /* justify-content: center; */
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playfull {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.playfull img {
  width: 40%;
  height: 60%;
  border-radius: 15px;
}
.playfull div {
  width: 30%;
}
section {
  background-image: url("img3.avif");

  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section3 {
  background-image: url("img4.avif");

  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer {
  background-color: black;
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width<800px) {
  .playfull {
    display: flex;
    flex-direction: column;
  }
  .playfull img {
    width: 55%;
    height: 50%;
    border-radius: 15px;
  }
  header {
    background-image: url("img1.avif");
    background-position: center;
  }
  .playfull div {
    width: 70%;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .playfull p {
    margin-left: 8%;
  }
  .section3 {
    background-image: url("img4.avif");
    background-position: center;
  }
}
